<div class="container mt-30">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Выбор регистрации</h2>
        <div class="space"></div>
        <div class="col-sm-4 col-sm-offset-2">
            <a href="#!/phoneRegister" class="btn btn-primary">Телефон</a>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <a href="#!/emailRegister" class="btn btn-primary">Электронная почта</a>
        </div>
        <div class="space"></div>
        <div class="col-md-7 col-md-offset-4 mt-100">
            <a href="#!/login" class="btn btn-link">Страница входа</a>
        </div>
    </div>
</div>