<div class="container mt-30">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Восстановление пароля</h2>
        <div class="space"></div>
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-primary" ng-click="byPhone()">Телефон</button>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-primary" ng-click="byEmail()">Электронная почта</button>
        </div>
        <div class="space"></div>
        <div class="col-md-7 col-md-offset-5 mt-100">
            <a href="#!/login" class="btn btn-link">Страница входа</a>
        </div>
        <div class="space"></div>
        <div ng-if="resetPhone" class="col-md-6 col-md-offset-3">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type == 'success', 'alert-danger': flash.type == 'error' }" ng-bind="flash.message"></div>
            <form name="form" ng-submit="resetByPhone()" role="form">
                <div class="form-group" ng-class="{ 'has-error': form.phone.$dirty && form.phone.$error.required }">
                    <label for="phone">Телефон</label>
                    <input type="text" name="phone" id="phone" class="form-control"
                           ng-pattern="mobilePhone"  mask="79999999999"
                           data-toggle="tooltip" data-placement="right" title="Введите в формате 7XXXXXXXXXX"
                           ng-model="resetForm.phone" required />
                    <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">Телефон обязательное поле</span>
                </div>
                <div class="form-group" ng-if="showFullPhoneForm"
                     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" id="password" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="Придумайте и введите пароль"
                           ng-model="resetForm.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Пароль обязательное поле</span>
                </div>
                <div class="form-group" ng-if="showFullPhoneForm"
                     ng-class="{ 'has-error': form.verificationCode.$dirty && form.verificationCode.$error.required }">
                    <label for="verificationCode">Код верификации</label>
                    <input type="password" name="verificationCode" id="verificationCode" class="form-control"
                           ng-pattern="verificationCode"  mask="999"
                           data-toggle="tooltip" data-placement="right" title="Введите SMS код высланный Вам, в формате XXX"
                           ng-model="resetForm.verificationCode" required />
                    <span ng-show="form.verificationCode.$dirty && form.verificationCode.$error.required" class="help-block">Код верификации обязательное поле</span>
                </div>
                <div class="form-actions" ng-if="!showFullPhoneForm">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading"
                            class="btn btn-primary">Выслать код</button>
                    <img ng-if="dataLoading" src="/css/loader.gif" />
                </div>
                <div class="form-actions" ng-if="showFullPhoneForm">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading"
                            class="btn btn-primary">Обновить пароль</button>
                    <img ng-if="dataLoading" src="/css/loader.gif" />
                </div>
            </form>
        </div>
        <div ng-if="resetEmail" class="col-md-6 col-md-offset-3">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type == 'success', 'alert-danger': flash.type == 'error' }" ng-bind="flash.message"></div>
            <form name="form" ng-submit="resetByEmail()" role="form">
                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Электронный адрес</label>
                    <input type="email" name="email" id="email" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="Введите в формате ХХХХХХ@ХХХ.XX"
                           ng-model="resetForm.email" required />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Электронный адрес обязательное поле</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading"
                            class="btn btn-primary">Отправить</button>
                    <img ng-if="dataLoading" src="/css/loader.gif" />
                </div>
            </form>
        </div>
    </div>
</div>